<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-file="http://www.springframework.org/schema/integration/file"
	xmlns:int-jms="http://www.springframework.org/schema/integration/jms"
	xmlns:int-xml="http://www.springframework.org/schema/integration/xml"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:int-stream="http://www.springframework.org/schema/integration/stream"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/integration
						http://www.springframework.org/schema/integration/spring-integration.xsd
						http://www.springframework.org/schema/integration/file
						http://www.springframework.org/schema/integration/file/spring-integration-file.xsd
						http://www.springframework.org/schema/integration/xml
    					http://www.springframework.org/schema/integration/xml/spring-integration-xml.xsd
    					http://www.springframework.org/schema/integration/jms			
    					http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd
    					http://www.springframework.org/schema/task 
    					http://www.springframework.org/schema/task/spring-task-3.0.xsd
    					http://www.springframework.org/schema/context
    					http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/integration/stream
						http://www.springframework.org/schema/integration/stream/spring-integration-stream.xsd">
	
	


	<!-- Spring bean instantiation -->
	<!-- ************************* -->
	<bean id="connectionFactory"
		class="org.springframework.jms.connection.CachingConnectionFactory">
		<property name="targetConnectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL" value="${activemq.url}" />
			</bean>
		</property>
		<property name="sessionCacheSize" value="10" />
		<property name="cacheProducers" value="false" />
	</bean>

	<bean id="SourceQueue" 
	    class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="${activemq.queue}" />
	</bean>

	<context:property-placeholder location="project.properties" />

	<bean id="releaseStrategy" class="org.springframework.integration.aggregator.TimeoutCountSequenceSizeReleaseStrategy">
		<constructor-arg index="0" value="${process.aggregationCount}" />
		<constructor-arg index="1" value="${process.aggregationTimeout}" />
	</bean>
	
	<bean id="processController" class="walla.messaging.CustomProcessController">	
	</bean>

	<bean id="myMessageStore" class="org.springframework.integration.store.SimpleMessageStore" />
	
	<bean id="myReaper" class="org.springframework.integration.store.MessageGroupStoreReaper">
		<property name="messageGroupStore" ref="myMessageStore" />
		<property name="timeout" value="${process.reaperTimeout}" />
	</bean>
	
	<task:scheduler id="myScheduler" />
	
	<task:scheduled-tasks scheduler="myScheduler">
		<task:scheduled ref="myReaper" method="run" fixed-rate="${process.reaperSchedulerTime}"/>
	</task:scheduled-tasks>	

	<!-- ***************************************************************************************** -->
	<!-- ***************************************************************************************** -->
	<!-- ***************************    Main process logic    ************************************ -->
	<!-- ***************************************************************************************** -->
	
	<!-- Input -->
	<!-- ***** -->
	<int-jms:message-driven-channel-adapter id="inboundMessageAdaptor" 
		connection-factory="connectionFactory" destination="SourceQueue" 
		channel="inboundMessagesChannel" concurrent-consumers="${process.numListeners}" error-channel="errorChannel" />
	
	<int:channel id="inboundMessagesChannel">
	    <int:interceptors>
	        <int:wire-tap channel="messageLoggingChannel"/>
	    </int:interceptors>
	</int:channel>
	
	<int:header-value-router input-channel="inboundMessagesChannel" header-name="aggIt">
  		<int:mapping value="true" channel="preAggMessagesChannel" />
  		<int:mapping value="false" channel="nonAggMessagesChannel" />
	</int:header-value-router>
	
	<int:channel id="nonAggMessagesChannel">
	    <int:interceptors>
	        <int:wire-tap channel="messageLoggingChannel"/>
	    </int:interceptors>
	</int:channel>
	
	<int:service-activator input-channel="nonAggMessagesChannel"
		ref="processController" method="processMessage" />
	
	<int:channel id="preAggMessagesChannel">
	    <int:interceptors>
	        <int:wire-tap channel="messageLoggingChannel"/>
	    </int:interceptors>
	</int:channel>
	
	<int:aggregator input-channel="preAggMessagesChannel" send-partial-result-on-expiry="true" message-store="myMessageStore"
					output-channel="aggregatedMessagesChannel" send-timeout="1000" release-strategy="releaseStrategy"
					expire-groups-upon-completion="true">
	</int:aggregator>

	<int:channel id="aggMessagesChannel">
	    <int:interceptors>
	        <int:wire-tap channel="messageLoggingChannel"/>
	    </int:interceptors>
	</int:channel>
	
	<int:service-activator input-channel="aggregatedMessagesChannel"
		ref="processController" method="processAggMessage" />


	<!-- ************************** -->
	<!-- Logging and Error handling -->
	
	<int:channel id="messageLoggingChannel"></int:channel>
	<int:logging-channel-adapter id="messageLoggingChannelAdaptor" level="DEBUG" channel="messageLoggingChannel" />
	
	<int:channel id="errorChannel"></int:channel>	
	<int:logging-channel-adapter id="errorChannelLoggerAdaptor" level="ERROR" channel="errorChannel"  />	
		
</beans>
	
		
	<!--  
	
	******************* the graveyard. RIP.
	
	
	<int:channel id="requestXmlToObjectChannel">
	</int:channel>
	
	
		<int:channel id="OutcomeRoutingChannel" />

	<int:header-value-router id="SuccessRouter"
		header-name="success" input-channel="OutcomeRoutingChannel"
		resolution-required="false" >
		<int:mapping value="true" channel="SuccessChannel" />
		<int:mapping value="false" channel="ErrorChannel" />
	</int:header-value-router>
	
	<int:service-activator input-channel="requestXmlToObjectChannel"
		ref="processController" method="RequestTriage" output-channel="requestObjectToXmlChannel" />

	<int:channel id="requestObjectToXmlChannel" />

	<int-xml:marshalling-transformer id="requestMarshalTransform"
		marshaller="unmarshaller" output-channel="OutcomeRoutingChannel"
		input-channel="requestObjectToXmlChannel" result-transformer="toStringTransformer" />
	
	<bean id="unmarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="marshallerProperties">
			<map value-type="java.lang.Boolean" key-type="java.lang.String">
				<entry key="jaxb.formatted.output" value="true" />
			</map>
		</property>
		<property name="classesToBeBound">
			<list>
				<value>walla.messaging.CustomRequest</value>
			</list>
		</property>
	</bean>

	<bean id="toStringTransformer"
		class="org.springframework.integration.xml.transformer.ResultToStringTransformer" />
	
	<int-stream:stdout-channel-adapter id="stdoutAdapter" channel="standardOutAdaptor" />
			
	<int:logging-channel-adapter id="logger" level="DEBUG" log-full-message="true" />

	<int-stream:stdout-channel-adapter id="stdoutAdapter" channel="logger" />

		
	 expression="'Processing file: ' + headers.file_name + ' (' + headers.file_size 
		+ ' bytes) <int:channel id="errorChannel" /> <int:chain input-channel="errorChannel"> 
		<int:service-activator ref="errorMessageHandler" method="handleMessage" /> 
		<int:router ref="errorMessageRouter" method="routeByPayloadType" /> </int:chain> 
		<int:channel id="errorOutputChannel" /> 
-->





