<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>fotowalla - logon</title>
</head>
<body>
	<form action="#" th:action="@{./logon(referrer=${referrer})}" th:object="${logon}" method="post">
		<input type="hidden" name="Key" th:field="*{Key}" />
		<table>
			<tr>
				<td>Profile Name</td>
				<td><input type="text" th:field="*{ProfileName}" /></td>
				<td th:if="${#fields.hasErrors('ProfileName')}" th:errors="*{ProfileName}">Name error</td>
			</tr>	
			<tr>
				<td>Email</td>
				<td><input type="email" th:field="*{email}" /></td>
				<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="text" th:field="*{password}" /></td>
				<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</td>
			</tr>
			
			<tr>
				<td colspan="3" th:if="${message != null}" th:text="${message}">Server errors</td>
			</tr>
			<tr>
				<td><button type="submit">Logon</button></td>
			</tr>
		</table>
	</form>
</body>
</html>