<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Language" content="en" />
    
    <link rel="stylesheet" th:href="@{/static/css/jquery-ui.css}" href="http://localhost:8082/wallahub/static/css/jquery-ui.css" />
    <link rel="stylesheet" th:href="@{/static/css/wallawebapp.css}" href="http://localhost:8082/wallahub/static/css/wallawebapp.css" />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />

    <link th:href="@{/static/images/fotowallabrowser.png}" rel="icon"
          type="image/x-icon"
          href="http://localhost:8082/wallahub/static/images/fotowallabrowser.png" />

    <title>Applications</title>
    <meta name="description" content="fotowalla - linked apps" />
    
</head>

<body>

    <!--
    <div class="wrapper"><div class="accessibility-aid" id="start-of-content"></div></div>
        -->

    <div class="clearstyles" role="main">

        <div class="clearstyles" style="width:800px;margin-top:50px;margin-right: auto;margin-left: auto;">
            <div class="column-layout">
                <div class="column one-fourth" role="navigation">
                    <nav class="left-nav-list">
                        <h3 class="nav-list-heading">Profile settings</h3>

                        <a class="nav-list-item"
                           href="account">Account</a>

                        <a class="nav-list-item"
                           href="security">Security</a>

                        <a class="nav-list-item"
                           href="contact">Contact</a>

                        <a class="nav-list-item"
                           href="billing">Billing</a>

                        <a class="nav-list-item selected"
                           href="applications">Applications</a>

                        <a class="nav-list-item"
                           href="storage">Storage</a>
                    </nav>
                </div>

                <div class="column three-fourths">

	                <form id="mainForm" th:action="@{./applications}" th:object="${accountActionSummary}" method="post">
		                <input type="hidden" name="action" id="action" th:value="*{action}" />
		                <input type="hidden" name="actionId" id="actionId" th:value="*{actionId}" />

						<p th:if="${message != null}" class="errortext"><i class="fa fa-exclamation"></i><span style="margin-left: 5px;" th:text="${message}" class="errortext">Server message</span></p>

	                    <div class="content-group-box" th:unless="*{#lists.isEmpty(AccountActionRef)}">
	                        <h3 class="content-group-heading">Account History (30 Days)</h3>
	                        <div class="content-group-inner">
	                            <ul class="content-list">
	                                <li th:each="e : *{AccountActionRef}"> <!-- th:text="${#dates.format(e.ActionDate,'dd MMM yyyy')}" -->
	                                    <span style="float: right;" th:text="${#dates.format(e.ActionDate,'dd MMM yyyy')}">... date ...</span>
	                                    <i class="fa fa-minus fa-fw"></i><span style="margin-left: 5px;" th:text="${e.ActionDesc}">Action text</span>
	                                    <span style="margin-left: 5px;" th:if="${e.NumTimes &gt; 1}" th:text="${'(x ' + e.NumTimes + ')'}"></span>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>

	                    <div class="content-group-box" th:unless="*{#lists.isEmpty(GalleryActionRef)}">
	                        <h3 class="content-group-heading">Shared Gallery Views</h3>
	                        <div class="content-group-inner">
	                            <ul class="content-list" >
	                                <li th:each="e : *{GalleryActionRef}">
	                                    <span style="float: right;" th:text="${'Views - Total:' + e.ViewTotal + ' / 30 days:' + e.ViewMonth}">Views.  Total: 12345 / 30 days: 345</span>
	                                    <i class="fa fa-minus fa-fw"></i><span style="margin-left: 5px;" th:text="${e.GalleryName}">Gallery name</span>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
					
	                    <div class="content-group-box" th:unless="*{#lists.isEmpty(UserAppRef)}" th:each="e : *{UserAppRef}">
	                        <h3 class="content-group-heading">
	                        	<!--<span style="margin-left:6px; float: right;"><i style="margin-right:5px;" class="fa fa-ban fa-green"></i>block</span>
	                        	-->
	                        	<button th:if="${e.Blocked == false}" style="margin-left:6px; float: right;" data-action="block" th:attr="data-id=${e.UserAppId}" class="smallbutton" title="Block this app from accessing your account.">
	                            	<i style="margin-right:5px;" class="fa fa-ban fa-red"></i>Block
	                            </button>
	                        	<span th:if="${e.Blocked == false}" th:text="${e.AppName + ' - ' + e.Platform + ' - ' + e.MachineName}">App - Platform - Machine</span>
	                        	
	                        	
	                        	<button th:if="${e.Blocked == true}" style="margin-left:6px; float: right;" data-action="unblock" th:attr="data-id=${e.UserAppId}" class="smallbutton" title="Enable app to access your account again.">
	                            	<i style="margin-right:5px;" class="fa fa-ban fa-red"></i>Un-block
	                            </button>
	                        	<span th:if="${e.Blocked == true}" style="color: LightGrey" th:text="${e.AppName + ' - ' + e.Platform + ' - ' + e.MachineName}">App - Platform - Machine</span>
	                        
	                        </h3>
	                        <div class="content-group-inner" th:unless="${#lists.isEmpty(e.UserAppActionRef)}">
	                            <ul class="content-list" >
	                                <li th:each="act : ${e.UserAppActionRef}">
	                                    <span style="float: right;" th:text="${#dates.format(act.ActionDate,'dd MMM yyyy')}">... date ...</span>
	                                    <i class="fa fa-minus fa-fw"></i><span style="margin-left: 5px;" th:text="${act.ActionDesc}">Action text</span>
	                                    <span style="margin-left: 5px;" th:if="${act.NumTimes &gt; 1}" th:text="${'(x ' + act.NumTimes + ')'}"></span>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="content-group-inner" th:unless="${#lists.isEmpty(e.UserAppActionRef) == false}">
	                            <ul class="content-list" >
	                                <li>
	                                    <i class="fa fa-minus fa-fw"></i><span style="margin-left: 5px;">Application is blocked</span>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>

					</form>
					
                </div>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script>
    
    //Suppress bubbling on submit.
   	$("button[data-action]").one("click", function(event)
   			{
   				var actionId = $(event.currentTarget).attr('data-id');
   				var action = $(event.currentTarget).attr('data-action');
   				
   				$("#actionId").val(actionId);
   				$('#action').val(action);
   				
   				//alert($("#actionUserAppId").val());
   				//alert($('#action').val());
   				$("#mainForm").one("submit");
   				
   			});
    

    </script>


</body>
</html>


