<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Language" content="en" />
    
    <link rel="stylesheet" th:href="@{/static/css/jquery-ui.css}" href="http://localhost:8082/wallahub/static/css/jquery-ui.css" />
    <link rel="stylesheet" th:href="@{/static/css/wallawebapp.css}" href="http://localhost:8082/wallahub/static/css/wallawebapp.css" />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />

    <link th:href="@{/static/images/fotowallabrowser.png}" rel="icon"
          type="image/x-icon"
          href="http://localhost:8082/wallahub/static/images/fotowallabrowser.png" />

    <title>Billing details</title>
    <meta name="description" content="fotowalla - billing details" />
    
</head>

<body>

    <div class="clearstyles" role="main">

        <div class="clearstyles" style="width:800px;margin-top:50px;margin-right: auto;margin-left: auto;">
            <div class="column-layout">
                <div class="column one-fourth" role="navigation">
                    <nav class="left-nav-list">
                        <h3 class="nav-list-heading">Profile settings</h3>

                        <a class="nav-list-item"
                           href="account">Account</a>

                        <a class="nav-list-item"
                           href="security">Security</a>

                        <a class="nav-list-item"
                           href="contact">Contact</a>

                        <a class="nav-list-item selected"
                           href="billing">Billing</a>

                        <a class="nav-list-item"
                           href="applications">Applications</a>

                        <a class="nav-list-item"
                           href="storage">Storage</a>
                    </nav>

                </div>

                <div class="column three-fourths">
                    <!-- Change Password -->
                    <div class="content-group-box">
                        <h3 class="content-group-heading">Billing</h3>
                        <div class="content-group-inner">

                            <p>
                                Not implemented.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>